# Ігнорувати всі файли та папки за замовчуванням
*

# Не ігнорувати сам файл .gitignore
!/.gitignore

# Не ігнорувати важливі файли для розгортання на Firebase
!/apphosting.yaml
!/firebase.json

# Не ігнорувати папку 'docs' та весь її вміст
!docs/
